{{extend 'layout.html'}}
<div class="custom-header">
    <h2>Acerca de la aplicación</h2>
</div>
<div style="min-height: 400px;">
    <p>Por favor indicar aquí lo que se quiera mencionar acerca de la aplicación.</p>

    <address>
    <strong>Ingesur, srl</strong><br>
    Reconquista 268 Apto. 511<br>
    Montevideo, Uruguay, CP 11000<br>
    <abbr title="Teléfono">P:</abbr> (598) 24105627<br>
    <abbr title="Fax">F:</abbr> (598) 24105627<br>
    <abbr title="Celulare">C:</abbr> (598) 98100301<br>
    <a href="mailto:contacto@ingesur.com.uy">contacto@ingesur.com.uy</a>
    </address>
</div>
