{{extend 'layout.html'}}
<div class="custom-header">
    <h2>Sotobosque</h2>
</div>

<table>
	<tr id="TieneDatos_tieneAgua__row">
		<td class="w2p_fl">
			<label id="TieneDatos_tieneAgua__label" for="TieneDatos_tieneAgua">Presencia: </label>
		</td>
		<td class="w2p_fw">
			<div id="toggle-button-div-TieneDatos-tieneAgua" class="btn-group" data-toggle="buttons-radio">
				<input id="TieneDatos_tieneAgua" class="boolean" type="checkbox" style="display:none;" name="tieneAgua">
				{{if flora:}}
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button id="haveDataYes" type="button" class="toggle-btn btn active">{{ =T('Yes')}}</button>
                        <button id="haveDataNo" type="button" class="toggle-btn btn">{{ =T('No')}}</button>
                    </div>
				{{else:}}
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button id="haveDataYes" type="button" class="toggle-btn btn">{{ =T('Yes')}}</button>
                        <button id="haveDataNo" type="button" class="toggle-btn btn active">{{ =T('No')}}</button>
                    </div>
				{{pass}}
			</div>
		</td>
		<td class="w2p_fc"></td>
	</tr>
</table>
<img id="progressbar" src="{{=URL('static', 'images/progressbar.gif')}}" alt="Cargando..." style="display: none;"></img>

{{if flora:}}
    {{=form}}
    <h4>Especies</h4>
    <a href="#floraSuelo" role="button" class="btn btn-small" data-toggle="modal" style="margin-bottom:10px;">{{ =T("Add record") }}</a>
    <div>&nbsp;</div>
    <div id="equipo"></div>
{{pass}}

<!-- floraSuelo dialog -->
<div id="floraSuelo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Agregar flora del Suelo</h3>
  </div>
  <div class="modal-body">
        {{=floraForm}}
  </div>
  <div class="modal-footer">
    <button class="btn" id="closeFlora">{{=T("Close")}}</button>
    <button class="btn btn-primary" id="saveFloraSuelo">{{=T("Save")}}</button>
  </div>
</div>
<!-- End floraSuelo -->

<!-- undoDialog -->
<div id="undoDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Deshacer</h3>
    </div>
    <div class="modal-body">
        <p>
        Si acepta, se borraran todos los datos de Flora para este muestreo y
        se regresara a la pantalla anterior. Desea continuar?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" role="dialog" onclick="undoDialogCancel();">{{ =T('Cancel') }}</button>
        <button class="btn btn-primary" onclick="undoDialogConfirm();">{{ =T('Confirm') }}</button>
    </div>
</div>
<!-- End undoDialog -->

<div class="modified" style="display: none"></div>
<script src="{{=URL('static','js/tabsValidation.js')}}"></script>

<script type="text/javascript">
    jQuery(document).ready(function(){
        hide();
        reloadTable();
    });

    function reloadTable()
    {
    	$.ajax({
            url: "/{{=request.application}}/default/tableFloraSuelo?m="+{{=session.muestreoId}},
            success: function(data) {
                $("#equipo").html(data);
            }
        });
    }


    function undoDialogConfirm() {
        $.ajax({
            url: '/{{=request.application}}/default/undoFlora',
            success: function(data) {
                location.reload();
            }
        });
    }

    function undoDialogCancel() {
        $("#undoDialog").modal('toggle');
    }

    $("#haveDataYes").click(function(){
        if ( $("#haveDataYes").hasClass("active")==true ) {
            /* Nothing */
        } else {
            $("#progressbar").show();
            $.ajax({
            url: '/{{=request.application}}/default/siPresenciaFlora',
            success: function(data) {
                location.reload();
            }
            });
        }
    })

    $("#haveDataNo").click(function(event) {
            event.stopPropagation();
            if ( $("#haveDataNo").hasClass("active")==true ) {
                /* Nothing */
            } else {
                $("#undoDialog").modal('toggle');
            }
    })


    /*
    $("#undo").click(function(){
    	$.ajax({
            url: '/{{=request.application}}/default/undoFlora',
            success: function(data) {
                location.reload();
            }
        });
    })

    $("#close").on("click", function(e){
        $("#undo").modal("hide");
        e.stopPropagation();
    });

    $("#tieneAgua_Yes").click(function(){
        $("#progressbar").show();
        $.ajax({
          url: '/{{=request.application}}/default/siPresenciaFlora',
          success: function(data) {
            location.reload();
          }
        });
    })
    */

	function deleteFlora(id)
	{
		$.ajax({
            url: "/{{=request.application}}/default/delete?field=id&val="+id+"&table=FloraDelSuelo",
            success: function(data) {
                reloadTable();
            }
        });
	}

	$("#closeFlora").on("click", function(e){
  		$("#floraSuelo").modal("hide");
  		e.stopPropagation();
	});

    function numbersonly(myfield, e, dec)
    {
        var key;
        var keychar;

        if (window.event)
           key = window.event.keyCode;
        else if (e)
           key = e.which;
        else
           return true;
        keychar = String.fromCharCode(key);

        // control keys
        if ((key==null) || (key==0) || (key==8) ||
            (key==9) || (key==13) || (key==27) )
           return true;

        // numbers
        else if ((("0123456789").indexOf(keychar) > -1))
           return true;

        // decimal point jump
        else if (dec && (keychar == "."))
           {
           myfield.form.elements[dec].focus();
           return false;
           }
        else
           return false;
    }

    function getData(value, common){
        if(value != ""){
            $.ajax({
                  url: "/{{=request.application}}/default/floraNames?partialstr="+value+"&comun="+common,
                  success: function(data) {
                    //$(".floraSueloAjax").show();
                    if(common == 0){
                        $("#cientificos").show();
                        $("#cientificos").html(data);
                    }else{
                        $("#comunes").show();
                        $("#comunes").html(data);

                    }

                  }
            });
        }else{
            hide();
        }
    }

    function hide(){
        //$(".floraSueloAjax").hide();
        $(".ajaxresults").html("");
        $(".ajaxresults").hide();
    }

    function copyToBox(value, common){
        if(common == 0){
            $("#nomCientifico").val(value);
            hide();
            $.ajax({
                url: "/{{=request.application}}/default/floraCommonNames?nomCientifico="+value,
                success: function(data) {
                    $("#nombreComun").val(data);
                }
            });
        } else {
            $("#nombreComun").val(value);
            hide();
            $.ajax({
                url: "/{{=request.application}}/default/floraCientificNames?nomComun="+value,
                success: function(data) {
                    $("#nomCientifico").val(data);
                }
            });
        }
    }

    $(document).click(function() {
        hide();
    });

    $("#cientificos").click(function(event) {
        event.stopPropagation();
    });

    $("#saveFloraSuelo").click(function(event) {
        var nombreCient = $("#nomCientifico").val();
        var frec = $("#frec").val();
        $.ajax({
	          url: "/{{=request.application}}/default/addFloraSuelo?nomCientifico="+nombreCient+"&frec="+frec,
	          success: function(data)
	          {
	          	alert(data);
	            reloadTable();
	            $('#floraSuelo').modal('hide');
	          }
	    });
    });

    $("#comunes").click(function(event) {
        event.stopPropagation();
    });

    function seleccionarAlturaLenosas(){
    if ($("#Flora_tipoSotobosque option:selected").val() == 5){
            $("#Flora_alturaLenosas").val("0");
	  $("#Flora_alturaLenosas__row" ).hide();
        } else {
	    $("#Flora_alturaLenosas__row" ).show();
            if ($("#Flora_alturaLenosas").val() == "0") {
                $("#Flora_alturaLenosas").val("");
            }
        }
    }
    $("#Flora_tipoSotobosque").change(seleccionarAlturaLenosas);
    $(document).ready(seleccionarAlturaLenosas);

</script>
<div class="modified" style="display: none"></div>
<script src="{{=URL('static','js/tabsValidation.js')}}"></script>
