{{extend 'layout.html'}}
<div class="custom-header">
    <h2>Fuego</h2>
</div>
{{=form}}
<div class="modified" style="display: none"></div>
<script src="{{=URL('static','js/tabsValidation.js')}}"></script>
<script>
    $("#Fuego_evidenciaFuego").change(function(){
        if ($("#Fuego_evidenciaFuego option:selected").text() == "Sin Evidencias"){
            $("#Fuego_tipoFuego option").each(function(){
                if ($(this).text() == 'No Aplicable'){
                    $(this).attr("selected", true);                
                } else {
                    $(this).attr("selected", false);
                }
            });
            //$("#Fuego_tipoFuego").val('6');
            //$("#Fuego_tipoFuego option[value=6]").attr("selected",true);
            //$("#Fuego_propositoFuego").val('10');
            $("#Fuego_propositoFuego option").each(function(){
                if ($(this).text() == 'No Aplicable'){
                    $(this).attr("selected", true);                
                } else {
                    $(this).attr("selected", false);
                }
            })
            //$("#Fuego_propositoFuego option[value=10]").attr("selected",true);
        }
    });
</script>