{{extend 'layout.html'}}
<div class="custom-header">
    <h2>Fuego</h2>
</div>
{{=form}}
<div class="modified" style="display: none"></div>
<script src="{{=URL('static','js/tabsValidation.js')}}"></script>
<script>
    function seleccionarTipoPropositoFuego(){
        if ($("#Fuego_evidenciaFuego option:selected").text() == "Sin Evidencias"){
            $("#Fuego_tipoFuego").val('6');
            $( "#Fuego_tipoFuego" ).prop( "disabled", true );
            $("#Fuego_propositoFuego").val('10');
            $("#Fuego_propositoFuego").prop( "disabled", true );
        } else {
            $( "#Fuego_tipoFuego" ).prop( "disabled", false );
            $( "#Fuego_propositoFuego" ).prop( "disabled", false );
        }
    }
    $("#Fuego_evidenciaFuego").change(seleccionarTipoPropositoFuego);
    $(document).ready(seleccionarTipoPropositoFuego);
</script>
