{{extend 'layout.html'}}
<h2>Productos No Madereros</h2>
{{=form}}
<div class="modified" style="display: none"></div>
<script src="{{=URL('static','js/tabsValidation.js')}}"></script>
<script>
    function seleccionarIntensidadPastoreo(){
        if ($("#ProductosNoMadereros_silvopastoreo option:selected").text() == "Ausencia"){
            $("#ProductosNoMadereros_intensidadPastoreo").val('6');
            //$("#ProductosNoMadereros_intensidadPastoreo" ).prop( "disabled", true );
	  $("#ProductosNoMadereros_intensidadPastoreo__row" ).hide();
        } else {
            //$("#ProductosNoMadereros_intensidadPastoreo" ).prop( "disabled", false);
	    $("#ProductosNoMadereros_intensidadPastoreo__row" ).show();
            if ($("#ProductosNoMadereros_intensidadPastoreo option:selected").val() == "6") {
                $("#ProductosNoMadereros_intensidadPastoreo").val("");
            }
        }
    }
    $("#ProductosNoMadereros_silvopastoreo").change(seleccionarIntensidadPastoreo);
    $(document).ready(seleccionarIntensidadPastoreo);
</script>
