<table class="table" style="background-color: #FFFFFF;margin-top: -20px; border-radius: 15px; border-color: #DDDDDD #DDDDDD transparent;">
	<thead>
		<tr>
			{{for header in parcelas[1]:}}
			<th>
				{{=header}}
			</th>
			{{pass}}
		</tr>
	</thead>
	<tbody>
		{{if len(parcelas[0]) >0:}}
			{{for data in parcelas[0]:}}
			<tr>
				<td>{{=data['arbol']}}</td>
				<td>{{=data['dap1']}}</td>
				<td>{{=data['dap2']}}</td>
				<td>{{=data['nomCient']}}</td>
				{{if data['nomCom']:}}
				<td>{{=data['nomCom']}}</td>
				{{else:}}
				<td>-----</td>
				{{pass}}
				<td>{{=data['edad']}}</td>
				<td>{{=data['ht']}}</td>
				<td>{{=data['estr']}}</td>
				<td>{{=data['obs']}}</td>
				<td><input type="button" value="Borrar" class="btn btn-small" onclick="deleteEquipo({{=data['id']}})" /></td>
			</tr>
			{{pass}}
		{{else:}}
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		{{pass}}
	</tbody>
</table>
