<table class="table" style="background-color: #FFFFFF;margin-top: -20px; border-radius: 15px; border-color: #DDDDDD #DDDDDD transparent;">
	<thead>
		<tr>
			{{for header in estratos[1]:}}
			<th>
				{{=header}}
			</th>
			{{pass}}
		</tr>
	</thead>
	<tbody>
		{{if len(estratos[0]) >0:}}
			{{for data in estratos[0]:}}
			<tr>
				<td>{{=data['nombre']}}</td>
				<td>{{=data['altura']}}</td>
				<td><input type="button" value="Borrar" class="btn btn-small" onclick="deleteEstrato({{=data['id']}})" /></td>
			</tr>
			{{pass}}
		{{else:}}
		<tr>
			<td>No hay datos</td>
			<td>No hay datos</td>
			<td>No hay datos</td>
			<td>No hay datos</td>
			<td>No hay datos</td>
		</tr>
		{{pass}}
	</tbody>
</table>
